---
name: test (go)
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: write
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Make test
        run: |
          make test
          echo "removing generated code from coverage results"
          mv cover.out cover.out.tmp && grep -vP "volume-operator/(api/v1alpha1|cmd|test/utils)/" cover.out.tmp > cover.out
          diffs="$(git status -s)"
          if [[ -n "$diffs" ]]; then echo "there are diffs after make test: $diffs"; exit 250; fi

